html {
  font-size: 17px;
  @media (min-width: 769px) {
    font-size: 19px;
  }
}

body {
  @include body-font;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  @include heading-font;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: $black !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.main-title {
  h1 {
    font-size: 1.5rem;
    @media (min-width: 769px) {
      font-size: 3rem;
    }
    line-height: 1;
  }
}

.container {
  max-width: 960px;
}
