---
layout: default
title: Family Screen Time Blog
---

<h1>{{ page.title }}</h1>

{% for post in site.posts %}
  <div class="postcard">
    <div class="postcard-wrapper">
      <div class="postcard-meta">
        <a class="postcard-title" href="{{ post.url }}">{{ post.title }}</a>
        <div>
          <span class="icon"><i class="fad fa-clock"></i></span>
          {{ post.date | date_to_string }}
        </div>
        {% if post.author %}
          {% assign author = site.authors | where: 'name', post.author | first %}
          {% if author %}
            <div>
              <span class="icon"><i class="fad fa-{{author.icon}}"></i></span>
              <a href="{{author.url}}">{{author.display_name}}</a>
            </div>
          {% endif %}
        {% endif %}
      </div>

      <div class="postcard-content">
        <div class="article">
          {{ post.excerpt }}
        </div>
        <a class="postcard-link" href="{{ post.url }}">Read more</a>
      </div>
    </div>
  </div>
{% endfor %}
