html {
  font-size: 16px;
  @media screen and (min-width: $breakpoint-sm) {
    font-size: 17px;
  }
  @media screen and (min-width: $breakpoint-md) {
    font-size: 18px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    font-size: 21px;
  }
  @media screen and (min-width: $breakpoint-xl) {
    font-size: 24px;
  }
}

body {
  font-family: $body-font;
  font-size: 1rem;
  color: $text-color;
  line-height: 1.35;

  @media screen and (min-width: $breakpoint-lg) {
    line-height: 1.4;
  }
}
