h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  color: $headings-font-color;
  .article > * + &,
  * + & {
    margin-top: 2rem;
  }
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.5rem;
  border-top: 1px solid $headings-font-color;
}

h3,
.h3 {
  font-size: 1.35rem;
  font-style: italic;
}

h4,
.h4 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: 0.8rem;
}
