backend:
  name: git-gateway
  branch: master
media_folder: assets/uploads
publish_mode: editorial_workflow
collections:
  - name: blog
    label: Blog
    folder: _posts/
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    preview_path: '{{slug}}'
    editor:
      preview: false
    fields:
      - name: layout
        label: Layout
        widget: hidden
        default: post
      - name: title
        label: Title
        widget: string
      - name: date
        label: Publish date
        widget: datetime
      - name: author
        label: Author
        widget: relation
        collection: authors
        displayFields: [display_name]
        searchFields: [display_name]
        valueField: name
      - name: body
        label: Body
        widget: markdown
