backend:
  name: git-gateway
  branch: master
media_folder: assets/uploads
collections:
  - name: blog
    label: Blog
    folder: _posts/
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    editor:
      preview: false
    fields:
      - name: layout
        label: Layout
        widget: hidden
        default: post
      - name: title
        label: Title
        widget: string
      - name: date
        label: Publish date
        widget: datetime
      - name: body
        label: Body
        widget: markdown
