.partners {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: $breakpoint-sm) {
    flex-wrap: nowrap;
  }

  .partner {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    @media (min-width: $breakpoint-sm) {
      flex-basis: 0;
      flex-grow: 1;
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
      &:not(:first-child) {
        margin-left: 0.5rem;
      }
    }
    @media (min-width: $breakpoint-md) {
      &:not(:last-child) {
        margin-right: 1rem;
      }
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }

  .partner-link {
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(10, 10, 10, 0.15);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: box-shadow 0.25s ease;
    &:link:hover {
      box-shadow: 0 0.125rem 0.375rem rgba(10, 10, 10, 0.15);
    }
  }
}
