@import "normalize";

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.icon {
  font-size: 80%;
  width: 1.375em;
  display: inline-block;
  --fa-primary-color: #113879;
  --fa-secondary-color: pink;
  --fa-primary-opacity: 1;
  --fa-secondary-opacity: 1;
}
